html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.address-bar {
    box-shadow: 10px 10px 5px #888888;
    max-width: 400px;
    width: 100%;
    height: 30px;
    left: 25px;
    top: 30px;
    display: flex;
    position: fixed;
}

.address-bar-area {
    margin: 0;
    padding: 0 0 0 10px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 20px;
}

.address-bar-area:hover {
    border: 1px solid #B2B2B2;
}

.address-bar-area:focus {
    outline: 2px solid #FF9933;
}

.address-search-button {
    background: #FF9933 center no-repeat url("../images/search-icon.png");
    padding: 0;
    border: 0;
    width: 72px;
    height: 30px;
}

.address-search-button:hover {
    background-color: #E68A2E;
}